#why-us p {
    max-width: 468px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 16px;
}

.why-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    padding: 20px;
    height: 185px;

}

.why-us-card i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    padding: 7px 7px;
    border-radius: 50%;
}

.why-us-card i+h6 {
    font-weight: 700;
    margin: 16px 0px;
}

.why-us-card>p {
    margin-bottom: 0px !important;
}

.bi-hand-thumbs-up {
    background-color: #F9CC00;
}

.bi-tag {
    background-color: #FA2C5A;
}

.bi-clock {
    background-color: var(--blue-primary);
}

.bi-award {
    background-color: var(--green-lime);
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
    .why-us-card {
        height: 206px;
    }
}