footer p {
    font-weight: 700;
    font-size: 14px;
}

footer ul li {
    list-style-type: none;
    padding-bottom: 16px;
    width: 90px;
}

footer i {
    font-size: 18px;
    color: white;
    padding: 5px 7px;
    border-radius: 50%;
}

footer .bi {
    background-color: var(--blue-primary);
}

footer a:hover {
    font-weight: 600;
    color: var(--blue-primary) !important;
}

footer .bi:hover {
    background-color: #0d29a6d5;
}